header {
  position: fixed;  /* doc our header at the top */
  width: 100%; /* make sure it stretches all the way across */
  left: 0; /* start at (0,0) */
  top: 0;
  z-index: 99999; /* keep it above pretty much everything */

  #headerNav {
    button {
      z-index: 999999; /* make our button the highest level */
      position: absolute; /* position our menu button on the left */
      left: 15px;
      top: 30px;
      border: none; /* remove the border from the button */
      font-size: 40px; /* make it larger */
    }
  }

  #logo {
    position: absolute; /* position our logo on the right */
    right: 30px;
    top: 45px;

    img {
      height: 20px; /* shrink our svg down a little bit */
    }
  }

  .nav--svg {
    width: 40px;  /* define a set width */

    &:after,
    &:before,
    & span {
      background-color: #fff; /* make the background white */
      opacity: 0.7; /* by default change the opacity to 70% */
      content: ''; /* put in an empty content attribute, without this we wouldn't populate anything */
      display: block; /* make it block level */
      height: 3px; /* each bar's height */
      margin: 8px 0; /* the gap between each bar */
      transition: all .2s ease-in-out; /* for animating */
    }

    &.open {
      &:before {
        transform: translateY(12px) rotate(135deg); /* rotate the top bar */
        margin: 10px 0;  /* nudge it down a little so they're even */
        opacity: 1;
      }

      &:after {
        transform: translateY(-12px) rotate(-135deg); /* rotate the bottom bar */
        opacity: 1;
      }

      & span {
        opacity: 0; /* fade out our center bar */
      }
    }
  }

  .isDark {
    .nav--svg {
      &:after,
      &:before,
      & span {
        background-color: #2c2c2c;
      }

      &.open {
        &:after,
        &:before,
        & span {
          background-color: #fff;
        }
      }
    }
  }
}