#nav {
  /* this will be used for sliding our nav in and out */
  &.out {
    margin-top: -450px;
  }

  transition: all 0.2s linear; /* animate the nav in and out */
  position: fixed; /* dock it to the top of our screen */
  top: 0;
  left: 0;
  width: 100%;  /* make it 100% across the screen */
  padding: 15px 0 75px 0; /* add some padding above and a decent bit below */
  text-align: center; /* center our text */
  background: #2c2c2c; /* the background color of the nav */
  z-index: 99999; /* put it above all other layers */
  color: #fff; /* make the text white */

  img {
    margin-left: 21px; /* small margin to center our logo */
  }

  .nav--item {
    position: relative; /* set the position of each nav item for our hover effect */
    font-weight: bolder; /* make it bold */
    font-size: 28px;
  }

  .nav--item:hover {
    opacity: 0.7;  /* on hover, drop the opacity */
  }

  /* fancy little bit to make a hover border under it */
  .nav--item:before, #logo:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: -4px;
    left: 15%;
    background-color: $linksHover;
    opacity: 0.1;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  /* the magic to show the border below */
  .nav--item:hover:before, #logo:hover:before {
    visibility: visible;
    opacity: 1;
    transform: scaleX(1);
  }
}