.largeLetter {
  position: absolute; /* set it so we can move it off screen a bit */
  z-index: 9; /* make the z-index or layering slightly higher than normal */
  font-size: 1200px; /* set the font size to something very big */
  font-weight: 800; /* make it bold */
  color: rgba(0, 0, 0, 0.4); /* set it to black with an opacity of 40% */
  left: -200px; /* nudge it offscreen to the left */
  top: -900px; /* nudge it offscreen on top */
}

.overflow--container {
  overflow: hidden;
}

#services, #about {
  padding-top: 200px;
  padding-bottom: 200px;
}

.btn--gradient {
  background-color: $primary;
  background-image: linear-gradient(52deg, rgba(144,18,254,1) 0%, rgba(242,51,185,1) 100%);
  font-size: 16px;
  border-radius: 300px;
  padding: 12px 35px;
  color: #fff;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  margin: 20px 0;
  max-width: 100%;
  display: inline-block;
  clear: both;

  &:hover {
    background: rgb(144,18,254);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.3);
  }
}