h1, h2, h3, h4, h5, h6 { margin: 0; }

@for $i from 1 through 200 {
  .font--#{$i} { font-size: #{$i}px; }
}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }
